
                                                                                                                        <!-- Do a simple test <div>Test</div> after setting up everything -->
<div class="viewport">
    <div class="flex-column fill-parent">

        <!-- Header -->
        <div class="flex-item-static flex-row viewport-header">
            <div class="flex-item-dynamic"></div>
            <div class="flex-item-static">
                <span>{{app.title}}</span>                                                                              <!-- good point to talk about angular data-binding {{}} -->
            </div>
            <div class="flex-item-dynamic"></div>
        </div>

        <!-- Body -->
        <div id="viewport-body" class="flex-item-dynamic flex-column viewport-body">
            <div class="flex-item-static flex-row" ng-repeat="message in app.messages | orderBy:id">                    <!-- talk about ng-repeat and orderBy -->
                <div class="flex-item-dynamic" ng-show="user.username === message.user"></div>
                <div class="flex-item-static message" ng-class="app.messageClass(message.user)">
                    <span class="message-body">{{message.msg}}</span>
                    <span class="message-footer">{{message.user}} • {{app.getDate(message.id)}}</span>
                </div>
                <div class="flex-item-dynamic" ng-hide="user.username === message.user"></div>
            </div>
        </div>

        <!-- Footer -->
        <div id="viewport-footer" class="flex-item-static viewport-footer">

            <!-- Registration -->
            <form class="input-group" ng-hide="user.registered" ng-submit="register()">
                <span class="input-group-addon">Username</span>
                <a id="username-exists-popover" href="#" tabindex="0" data-toggle="popover" data-placement="top"
                   data-trigger="focus" data-content="Username already exists"></a>
                <input class="form-control" type="text" ng-model="user.username" placeholder="John Doe" maxlength="20"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Submit</button>
                </span>
            </form>

            <!-- Messaging -->
            <form class="input-group" ng-show="user.registered" ng-submit="send()">
                <span class="input-group-addon">{{user.username}}</span>
                <input class="form-control" type="text" ng-model="user.message" placeholder="Message..." autofocus/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Send</button>
                </span>
            </form>
        </div>

    </div>
</div>